[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-restful = "*"
psycopg2-binary = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
