.nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    height: var(--nav-height);
    > * {
        height: inherit;
    }
    & img {
        height: inherit;
        width: auto;
        aspect-ratio: 1;
        padding: 0.5rem;
    }
}
